@font-face {
  font-family: "fira";
  src: url("./assets//fonts/fira/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "fira-heading";
  src: url("./assets//fonts/fira/FiraSans-ExtraBold.ttf");
}

@font-face {
  font-family: "ponato";
  src: url("./assets//fonts/ponato/PontanoSans-Regular.ttf");
}
